/*--------------------------------------------------------------
 * Colors
 *------------------------------------------------------------*/

$entry-background: #FAFAFA;
$entry-background-hover: #FFFFFF;
$header-background: #FFFFFF;
$mobile-background: #F3F3F3;
$border-color: #DDDDDD;
$default-font-color: #444444;
$default-link-color: #0EA9D6;
$light-blue-link-color: #0EA9D6;
$navigation-highlight-color: #CC4738;

/*--------------------------------------------------------------
 * Font familys
 *------------------------------------------------------------*/

$default-font-family: "proxima-nova",sans-serif;
$text-font-family: "ff-meta-serif-web-pro",serif;

/*--------------------------------------------------------------
 * Font sizes
 *------------------------------------------------------------*/

$default-font-size: 1em;
$feature-font-size: 22px;

/*--------------------------------------------------------------
 * Line-Heights
 *------------------------------------------------------------*/

$default-line-height: 30px;

/*--------------------------------------------------------------
 * Heights
 *------------------------------------------------------------*/

$topbar-height: 97px;
$banner-height: 550px;

/*--------------------------------------------------------------
 * Width, Heights, Margins, Paddings
 *------------------------------------------------------------*/

$entry-margin: 5%;
$entry-width: 30%;