.banner {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
    color: #FFF;
}

.banner-large {
    height: 700px;
}

.banner-inner {
    position: absolute;
    height: 80%;
    width: 90%;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.banner-subtitle {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.banner-button {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    
    .banner-subtitle {
        width: 90%;
    }
    
    .banner-button {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    
    /*.banner .subtitle {
        font-weight: 400;
        font-size: 20px;
    }*/
}

@media only screen and (min-width: 321px) and (max-width: 768px) and (orientation: portrait) {
    
    .banner-subtitle {
        width: 82%;
    }
    
    .banner-button {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    
    
}

@media only screen and (min-width: 768px) {
    
    .banner-inner {
        width: 80%;
        top: 5%;
    }
    
    .banner-title {
        top: 18%;
        width: 100%;
    }

    .banner-subtitle {
        top: 40%;
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    
    .banner-inner {
        width: 80%;
        top: 10%;
    }
    
    .banner-title {
        top: 18%;
        width: 100%;
    }

    .banner-subtitle {
        top: 40%;
        width: 60%;
    }
}