.mejs-offscreen {
    display: none;
}

.mejs-container {
    width: 100%;
    height: 100px;
    
    &:focus {
        outline: none;
    }
}

.mejs-controls {
    position: relative;
    width: 100%;
    background: grey;
    margin: 25px 0;
    
   /* &:focus {
        outline: none;
    }*/
}

.mejs-mediaelement,
.mejs-layers {
    
    /*&:focus {
        outline: none;
    }*/
}

.mejs-button {
    position: absolute;
    top: -120px;
}

.mejs-play button {
    height: 50px;
    width: 50px;
    margin: 25px 0;
    border: none;
    background: #FFFFFF url(#{$page_url}/data/img/media_controls.svg);
    background-size: 100px;
    background-position: 0 0;
    
    &:hover {
        background-position: -50px 0px;
    }

    &:focus {
        outline: none;
    }
}

.mejs-pause button {
    height: 50px;
    width: 50px;
    margin: 25px 0;
    border: none;
    background: #FFFFFF url(#{$page_url}/data/img/media_controls.svg);
    background-size: 100px;
    background-position: 0px -50px;

    &:hover {
        background-position: -50px -50px;
    }
    
    &:focus {
        outline: none;
    }
}

.mejs-time-rail {
    display: block;
    position: absolute;
    left: 0;
    //width: 92%;
    width: 100%;
    
    /*&:focus {
        outline: none;
    }*/
    
    .mejs-time-total {
        display: inherit;
        height: 15px;
        width: 100%;
        background: #EFEFEF;
        display: block;
        
        /*&:focus {
            outline: none;
        }*/
    }

    .mejs-time-current {
        display: inherit;
        height: 15px;
        background: #33CCCC;
        
        /*&:focus {
            outline: none;
        }*/
    }
}

.mejs-time {
    position: absolute;
    right: 0;
    width: 8%;
    line-height: 1.2;
    font-size: 0.75em;
    text-align: right;
    
    /*&:focus {
        outline: none;
    }*/
}