/*--------------------------------------------------------------
 * Leaders section
 *------------------------------------------------------------*/

.leaders {
    .column-content {
        height: 80px;
    }
    .column-details {
        font-size: initial !important;
        font-style: normal !important;
        line-height: 1.5;
    }
    .grid-title {
        margin: 0 0 1em 0;
    }
}

.leader-card-details {
    line-height: 1.5
}

.group-title {
    padding-left: 10px;
    &:first-child {
        margin-top: 0;
    }
}


/*--------------------------------------------------------------
 * Tablets
 *------------------------------------------------------------*/

@media only screen and (min-device-width: 768px) {
    .person-wrap {
        .entry-details {
            height: 95px;
        }
        .column-content {
            height: 110px;
        }
    }
}