/*--------------------------------------------------------------
 * Page style
 *------------------------------------------------------------*/

.sermons {
    
    .toolbar {
        display: none;
        margin-bottom: 60px;
        text-align: center;
    }
    
    .pagination {
        padding: 60px 0 0 0;
    }
}

/*--------------------------------------------------------------
 * Page style - Additional settings for desktops
 *------------------------------------------------------------*/

@media only screen
and (min-width: 1200px) {
    
    .toolbar {
        display: block;
    }
}

/*--------------------------------------------------------------
 * Filter style
 *------------------------------------------------------------*/

.sermon-filter {
    margin-bottom: 30px;
    text-align: center;
}

/*--------------------------------------------------------------
 * Item style - Mobile ready
 *------------------------------------------------------------*/

.sermon-item {
    position: relative;
    width: 100%;
    display: table;
    background-color: #FFFFFF;
}

.sermon-inner {
    padding: 15px;
}

.sermon-title {
    margin: 0 0 10px 0;
}

.sermon-meta {
    font-family: $font_text;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5;
}
    
.sermon-description {
    margin-top: 10px;
    border-top: 1px solid #DDDDDD;
    line-height: 1.5;
}
    
.download-record {
    display: none;
}

.download-record,
.download-docs {
    //margin-bottom: 15px;

    a {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
    }

    .icon {
        float: left;
        margin: 0 8px 0 0;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 2px;
        border-radius: 50%;
        transition: all .2s ease-out;

        &:before {
            content: url(#{$page_url}/data/img/download.png);
        }
    }

    .text {
        float: left;
        font-size: 13px;
        font-weight: 500;
        line-height: 40px;
    }
}

.download-record {
    display: none;
}

.sermon-player {
    
    audio {
        width: 100%;
        padding-top: 10px;
    }
}

/*--------------------------------------------------------------
 * Item style - Additional settings for desktops
 *------------------------------------------------------------*/

@media only screen
and (min-width: 1200px) {
    
    .sermon-item {
        height: 120px;
        margin-bottom: 20px;
    }
    
    .sermon-inner {
        display: inherit;
        padding: 20px;
    }

    .sermon-play-pause {
        height: 100px;
        width: 8%;
        float: left;
        margin-right: 20px;
        border-right: 1px solid #DDD;
    }

    .sermon-info {
        position: relative;
        height: 100px;
        width: 25%;
        float: left;
        margin-right: 20px;
        border-right: 1px solid #DDD;

        .sermon-title {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }

        .sermon-meta {
            margin-top: 10px;
        }
    }

    .sermon-description {
        height: 100px;
        //width: 45%;
        width: 44%;
        float: left;
        margin: 0 20px 0 0;
        border-top: 0;
        border-right: 1px solid #DDD;

        p {
            margin: 0;
            padding-right: 20px;
            font-size: 0.9em;
        }
    }

    .sermon-attachments {
        width: 15%;
        float: right;
        font-size: 0.9em;

        .download-record {
            display: block;
            float: left;
        }

        .download-docs{
            margin-top: 15px;
            float: left;
        }
    }

    .sermon-player {
        float: left;
        width: 100%;
        padding-top: 20px;
    }
}

// Tablets
@media only screen 
and (min-device-width : 1025px) {
    
    .page-template-sermonlist {
        //background: #FFF !important; 
    }
    
}

// Tablets
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    .page-template-sermonlist {
        //background: #FFF !important; 
    }
    
}

// Phones
@media only screen 
and (min-device-width : 300px)
and (max-device-width : 767px) {
    

}