/*--------------------------------------------------------------
 * Smallgroup
 *------------------------------------------------------------*/

.smallgroup-title {
    margin-top: 0;
    text-align: center;
}

.smallgroup-description {
    text-align: center;
}

.smallgroup-contact {
    margin-bottom: 30px;
    text-align: center;
}

.smallgroup-image {
    width: 80%;
}

@media only screen and (min-width : 768px) {
    
    .smallgroup-title {
        text-align: inherit;
    }
    
    .smallgroup-description {
        text-align: inherit;
    }
    
    .smallgroup-contact {
        margin-bottom: 0;
        text-align: inherit;
    }
    
    .smallgroup-image {
        width: 100%;
    }
}

/*--------------------------------------------------------------
 * Smallgroup age
 *------------------------------------------------------------*/

.smallgroup-age {
    width: 140px;
    margin: 0 auto;
    padding: 8px 0;
    border-style: solid;
    border-width: 2px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width : 768px) {
    
    .smallgroup-age {
        width: 180px;
        padding: 15px 0;
        font-size: 18px;
    }
}