.vc_element-icon.fa{
    background-image: none;
    background-color: #4358AF;
    border-radius: 5px;
    
    font-size: 15px;
    color: #FFF;
    
    text-align: center;
    line-height: 33px;
}