/*--------------------------------------------------------------
 * Meta boxes
 *------------------------------------------------------------*/

.post-data-checkbox-wrapper {
    margin: 15px 0;
    background-color: #fdfdfd;
    border: 1px solid #dfdfdf;
    
    .post-data-label {
        display: inline-block;
        vertical-align: top;
        width: 15%;
        max-width: 200px;
        font-weight: bold;
        margin-top: 3px;
    }

    .post-data-value {
        display: inline-block;
        vertical-align: top;
        width: 70%;

        .post-data-input {
            width: 300px;
        }

        input[type=checkbox],
        input[type=radio] {
            width: auto !important;
            float: left;
        }

        .post-data-description {
            font-style: italic;
        }
    }
}

.post-data-text-wrapper {
    margin: 15px 0;
    
    .post-data-label {
        display: inline-block;
        vertical-align: top;
        width: 15%;
        max-width: 200px;
        font-weight: bold;
        margin-top: 3px;
    }

    .post-data-value {
        display: inline-block;
        vertical-align: top;
        width: 70%;

        .post-data-input {
            width: 300px;
        }

        .post-data-description {
            font-style: italic;
        }
    }
}