.custom-icon {
    background-color: transparent;
}

.border-icon {
    background-image: url(../images/vc_elements_icons_sprite.png) !important;
    background-position: 0 -512px !important;
}

.spacer-icon {
    background-image: url(../images/vc_elements_icons_sprite.png) !important;
    background-position: 0 -1152px !important;
}